<a href="https://colab.research.google.com/github/athiaq/deep-learning-challenge/blob/main/AlphabetSoupOptimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [26]:
# To attempt to optimize the model the column, 'EIN', 'NAME', 'SPECIAL_CONSIDERATIONS' will be dropped.
application_df = application_df.drop(columns = ['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [27]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [28]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df.value_counts('APPLICATION_TYPE')
application_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_count[application_count>737].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    32033
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [30]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [31]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [32]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count<1883].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [33]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [34]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [35]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [36]:
# Fourth hidden layer added to attempt to optimize model
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 150
hidden_nodes_layer2 = 80
hidden_nodes_layer3 = 30
hidden_nodes_layer4 = 10
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation= 'relu'))

# Fourth hidden layer 

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 150)               10800

 dense_9 (Dense)             (None, 80)                12080

 dense_10 (Dense)            (None, 30)                2430

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 25,341
Trainable params: 25,341
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [38]:
# To attmept to optimize the model, the number of epochs increased to 120
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=120)

Epoch 1/120
804/804 [==============================] - 3s 2ms/step - loss: 0.5842 - accuracy: 0.7107
Epoch 2/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5716 - accuracy: 0.7173
Epoch 3/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7194
Epoch 4/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5670 - accuracy: 0.7215
Epoch 5/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5665 - accuracy: 0.7213
Epoch 6/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5658 - accuracy: 0.7216
Epoch 7/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5651 - accuracy: 0.7217
Epoch 8/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5646 - accuracy: 0.7214
Epoch 9/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7230
Epoch 10/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7234
Epoch 11/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7224
Epoch 12/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5627 - accuracy: 0.7233
Epoch 13/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7244
Epoch 14/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5623 - accuracy: 0.7242
Epoch 15/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5625 - accuracy: 0.7243
Epoch 16/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5614 - accuracy: 0.7243
Epoch 17/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5616 - accuracy: 0.7240
Epoch 18/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5612 - accuracy: 0.7243
Epoch 19/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7244
Epoch 20/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7245
Epoch 21/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5602 - accuracy: 0.7255
Epoch 22/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5600 - accuracy: 0.7248
Epoch 23/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7250
Epoch 24/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5600 - accuracy: 0.7256
Epoch 25/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5600 - accuracy: 0.7250
Epoch 26/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7262
Epoch 27/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7262
Epoch 28/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7265
Epoch 29/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7258
Epoch 30/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7265
Epoch 31/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7261
Epoch 32/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5581 - accuracy: 0.7264
Epoch 33/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7255
Epoch 34/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7269
Epoch 35/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5580 - accuracy: 0.7272
Epoch 36/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7265
Epoch 37/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7264
Epoch 38/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7275
Epoch 39/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7268
Epoch 40/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7271
Epoch 41/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7263
Epoch 42/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7269
Epoch 43/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7262
Epoch 44/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7273
Epoch 45/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7271
Epoch 46/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7269
Epoch 47/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7271
Epoch 48/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7275
Epoch 49/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5563 - accuracy: 0.7269
Epoch 50/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7276
Epoch 51/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7272
Epoch 52/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7273
Epoch 53/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7277
Epoch 54/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7268
Epoch 55/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5555 - accuracy: 0.7273
Epoch 56/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7274
Epoch 57/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7275
Epoch 58/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7279
Epoch 59/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7276
Epoch 60/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7273
Epoch 61/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7274
Epoch 62/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7280
Epoch 63/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5636 - accuracy: 0.7276
Epoch 64/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7277
Epoch 65/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7268
Epoch 66/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7280
Epoch 67/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7275
Epoch 68/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7280
Epoch 69/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7280
Epoch 70/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5543 - accuracy: 0.7278
Epoch 71/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7279
Epoch 72/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7286
Epoch 73/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7285
Epoch 74/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7283
Epoch 75/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7283
Epoch 76/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5539 - accuracy: 0.7284
Epoch 77/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5537 - accuracy: 0.7276
Epoch 78/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7282
Epoch 79/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7282
Epoch 80/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7283
Epoch 81/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7280
Epoch 82/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7281
Epoch 83/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5541 - accuracy: 0.7283
Epoch 84/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5537 - accuracy: 0.7283
Epoch 85/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7287
Epoch 86/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7282
Epoch 87/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7278
Epoch 88/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5541 - accuracy: 0.7287
Epoch 89/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5535 - accuracy: 0.7284
Epoch 90/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7289
Epoch 91/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7284
Epoch 92/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5657 - accuracy: 0.7278
Epoch 93/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7291
Epoch 94/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7288
Epoch 95/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7289
Epoch 96/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7285
Epoch 97/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5534 - accuracy: 0.7287
Epoch 98/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7285
Epoch 99/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7290
Epoch 100/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7285
Epoch 101/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5887 - accuracy: 0.7278
Epoch 102/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7286
Epoch 103/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7290
Epoch 104/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5525 - accuracy: 0.7286
Epoch 105/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7288
Epoch 106/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7287
Epoch 107/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7289
Epoch 108/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7282
Epoch 109/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7289
Epoch 110/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7288
Epoch 111/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7285
Epoch 112/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7287
Epoch 113/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7291
Epoch 114/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7282
Epoch 115/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7289
Epoch 116/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7285
Epoch 117/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7286
Epoch 118/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7286
Epoch 119/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7285
Epoch 120/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7293

In [39]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5856 - accuracy: 0.7111 - 655ms/epoch - 2ms/step
Loss: 0.5856181383132935, Accuracy: 0.7111369967460632

In [40]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization3.h5")