<a href="https://colab.research.google.com/github/athiaq/deep-learning-challenge/blob/main/AlphabetSoupOptimization3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# To attempt to optimize the model the column, 'EIN', 'NAME', 'SPECIAL_CONSIDERATIONS' will be dropped.
application_df = application_df.drop(columns = ['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df.value_counts('APPLICATION_TYPE')
application_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_count[application_count>737].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    32033
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count<1883].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [17]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Third hidden layer added to optimize model
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation= 'relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                5760

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 8,831
Trainable params: 8,831
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [21]:
# To attmept to optimize the model, the number of epochs increased to 120
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=120)

Epoch 1/120
804/804 [==============================] - 5s 3ms/step - loss: 0.5854 - accuracy: 0.7080
Epoch 2/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5698 - accuracy: 0.7178
Epoch 3/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5677 - accuracy: 0.7196
Epoch 4/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5667 - accuracy: 0.7196
Epoch 5/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5662 - accuracy: 0.7223
Epoch 6/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5651 - accuracy: 0.7214
Epoch 7/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5649 - accuracy: 0.7218
Epoch 8/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5640 - accuracy: 0.7224
Epoch 9/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5639 - accuracy: 0.7233
Epoch 10/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5632 - accuracy: 0.7236
Epoch 11/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5626 - accuracy: 0.7222
Epoch 12/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5627 - accuracy: 0.7235
Epoch 13/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5625 - accuracy: 0.7229
Epoch 14/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7237
Epoch 15/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7238
Epoch 16/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5615 - accuracy: 0.7239
Epoch 17/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7230
Epoch 18/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7237
Epoch 19/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7238
Epoch 20/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5606 - accuracy: 0.7252
Epoch 21/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7247
Epoch 22/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5603 - accuracy: 0.7245
Epoch 23/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7262
Epoch 24/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - accuracy: 0.7250
Epoch 25/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7256
Epoch 26/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5599 - accuracy: 0.7252
Epoch 27/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5596 - accuracy: 0.7254
Epoch 28/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7258
Epoch 29/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5591 - accuracy: 0.7259
Epoch 30/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7248
Epoch 31/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7257
Epoch 32/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7256
Epoch 33/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7257
Epoch 34/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5587 - accuracy: 0.7254
Epoch 35/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7262
Epoch 36/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7257
Epoch 37/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7262
Epoch 38/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7262
Epoch 39/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7267
Epoch 40/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7267
Epoch 41/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7266
Epoch 42/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5575 - accuracy: 0.7266
Epoch 43/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7263
Epoch 44/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7271
Epoch 45/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5576 - accuracy: 0.7262
Epoch 46/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7262
Epoch 47/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7266
Epoch 48/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7266
Epoch 49/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7276
Epoch 50/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7269
Epoch 51/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7266
Epoch 52/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7278
Epoch 53/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7278
Epoch 54/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7276
Epoch 55/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7275
Epoch 56/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5561 - accuracy: 0.7273
Epoch 57/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7280
Epoch 58/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7270
Epoch 59/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7263
Epoch 60/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7269
Epoch 61/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7272
Epoch 62/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7272
Epoch 63/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7278
Epoch 64/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7275
Epoch 65/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7273
Epoch 66/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7278
Epoch 67/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7274
Epoch 68/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7279
Epoch 69/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7268
Epoch 70/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5554 - accuracy: 0.7276
Epoch 71/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5553 - accuracy: 0.7287
Epoch 72/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7278
Epoch 73/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7275
Epoch 74/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7274
Epoch 75/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7273
Epoch 76/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7276
Epoch 77/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7278
Epoch 78/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7273
Epoch 79/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7277
Epoch 80/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7275
Epoch 81/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7281
Epoch 82/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7274
Epoch 83/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7277
Epoch 84/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7276
Epoch 85/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7287
Epoch 86/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7283
Epoch 87/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7281
Epoch 88/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7282
Epoch 89/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7283
Epoch 90/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7276
Epoch 91/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5547 - accuracy: 0.7282
Epoch 92/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7283
Epoch 93/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7283
Epoch 94/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7282
Epoch 95/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5543 - accuracy: 0.7281
Epoch 96/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7278
Epoch 97/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7282
Epoch 98/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7279
Epoch 99/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7285
Epoch 100/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7278
Epoch 101/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7283
Epoch 102/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7285
Epoch 103/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7290
Epoch 104/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7285
Epoch 105/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7285
Epoch 106/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7278
Epoch 107/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7285
Epoch 108/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7279
Epoch 109/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7285
Epoch 110/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7285
Epoch 111/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7286
Epoch 112/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7285
Epoch 113/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7280
Epoch 114/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7278
Epoch 115/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7282
Epoch 116/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7285
Epoch 117/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7288
Epoch 118/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7282
Epoch 119/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7285
Epoch 120/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5531 - accuracy: 0.7280

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5786 - accuracy: 0.7139 - 1s/epoch - 4ms/step
Loss: 0.5786222815513611, Accuracy: 0.7139358520507812

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization3.h5")