<a href="https://colab.research.google.com/github/athiaq/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# To optimize the model the columns, 'EIN' will be dropped.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Determine the number of unique values in each column.
#application_df.unique()
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
application_df.value_counts('APPLICATION_TYPE')

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T3', 'T6', 'T19', 'T7', 'T9', 'T12', 'T14', 'T29', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    30232
T4        1542
T5        1173
T8         737
T10        528
T13         66
T2          16
T25          3
T15          2
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246','C1267', 'C1256']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T15,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [44]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [46]:
# Third hidden layer added to optimize model
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation= 'relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 80)                5600

 dense_12 (Dense)            (None, 30)                2430

 dense_13 (Dense)            (None, 20)                620

 dense_14 (Dense)            (None, 1)                 21

=================================================================
Total params: 8,671
Trainable params: 8,671
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [48]:
# To optimize the model, the number of epochs reduced to 50
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5760 - accuracy: 0.7184
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5605 - accuracy: 0.7272
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5555 - accuracy: 0.7299
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7327
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7332
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7330
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7333
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5516 - accuracy: 0.7336
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7331
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7347
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7339
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7341
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7343
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7341
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7345
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7359
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7353
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7350
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7347
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7369
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7355
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7350
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7360
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7346
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7362
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7365
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7361
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7364
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5465 - accuracy: 0.7367
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7360
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7362
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7367
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7364
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5462 - accuracy: 0.7376
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7369
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7366
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7371
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7364
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7369
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7375
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7378
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7375
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7369
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7370
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7372

In [49]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5619 - accuracy: 0.7249 - 493ms/epoch - 2ms/step
Loss: 0.5619274973869324, Accuracy: 0.7248979806900024

In [50]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")